<%- include('./partial/header') %>
    <div id="map"></div>
    <p><a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a></p>
    <%- include('./partial/scripts') %>

        </body>

        </html>