<%- include('./partial/header') %>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <h3>Bekle-Me Ring Takip Sistemi <b>Kapalı Beta</b></h3><br>
        <a href="https://chat.whatsapp.com/CQFv1ukcVXWIFQxOeZoZvQ">WhatsApp Grubu</a><br>
        <a href="https://join.slack.com/t/beklemeprojesi/shared_invite/zt-1hw0sxu4j-uYaiDscO~1KdBBEeJaL7SA">Slack Kanalı</a>
    </div>

    <div id="map"></div>
    <%- include('./partial/scripts') %>

        </body>

        </html>